body {
  background: black;
}
main{
  width:50%;
  margin:0 auto;
  border:1vw dashed gold;
}

main img{
  max-width: 100%;
  max-height: 100%;
}

main p{
  color:white;
}

main div.gameScreen{
  position:relative;
  padding:0.5%;
  margin:0.5%;
}

main div#mainScreen{
  position:relative;
  height:40vw;
  background-image: url('../images/bg2.jpg');
  background-position: top;
  background-size:contain;
  background-repeat: no-repeat;
}

main div#statsScreen{
  position:relative;
  height:10vw;
  border-top:1vw dashed gold;
}

main div#statsScreen ul#life{
  font-size: 4vw;
  color:red;
  list-style: none;
}

main div#statsScreen ul#life li{
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
  padding:0 20px;;
}

main div#statsScreen ul#specialAttack{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  vertical-align: middle;
  padding:0;
}

main div#statsScreen ul#specialAttack li{
  display: inline-block;
  list-style-type: none;
  padding-right: 1vw;
  vertical-align: middle;
  padding:0;
}

main div#statsScreen ul#specialAttack li img{
  height:2vw;
  width:2vw;
}

main div.pjs{
  width:5vw;
  height:5vw;
}

main div.player{
  //border:1px solid red;
  position:absolute;
  top:50%;
  float:left;
  background-image: url('../images/chrono.gif');
  background-size: contain;
}

main div.playerSpecialAttack{
  //border:1px solid red;
  position:absolute;
  top:50%;
  float:left;
  background-image: url('../images/CronoLuminaire.gif');
  background-size: contain;
}

main div.playerHit{
  //border:1px solid red;
  position:absolute;
  top:50%;
  float:left;
  background-image: url('../images/chronoHit.png');
  background-size: contain;
}

main div#boss{
  //border:1px solid green;
  position:absolute;
  top:50%;
  left:80%;
  background-image: url('../images/boss3.gif');
  background-size: contain;
}


main div#dactyl{
  //border:1px solid red;
  position:absolute;
  top:0%;
  float:left;
  width:9vw;
  height:9vw;
}

.mirror{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
.hidden{
  visibility: hidden;
  display: none;
}
