@font-face {
    font-family: 'Fipps';
    src: url('../fonts/fipps-regular-webfont.woff2') format('woff2'),
         url('../fonts/fipps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: Fipps, sans-serif;
}

body {
  background: black;
}
main{
  width:50%;
  margin:0 auto;
  border:1vw dashed gold;
}

main img{
  max-width: 100%;
  max-height: 100%;
}

main p{
  color:white;
}

main div.gameScreen{
  position:relative;
  padding:0.5%;
  margin:0.5%;
  color: white;
}

main div#mainScreen{
  position:relative;
  height:40vw;
  background-image: url('../images/bg2.jpg');
  background-position: top;
  background-size:contain;
  background-repeat: no-repeat;
}

main div#mainScreenNight{
  position:relative;
  height:40vw;
  background-image: url('../images/bg3.jpg');
  background-position: top;
  background-size:contain;
  background-repeat: no-repeat;
}

main div#pauseScreen{
  position:relative;
  height:40vw;
  background-image: url('../images/bg2.jpg');
  background-position: top;
  background-size:contain;
  background-repeat: no-repeat;

}

main div#instructionsScreen{
  position:relative;
  height:40vw;
  font-size: 1vw;
}
main div#gameOverScreen{
  position:relative;
  height:40vw;
  font-size: 1vw;
}

main div#statsScreen{

  position:relative;
  height:7vw;
  border-top:1vw dashed gold;
}

main div#statsScreen ul#life{
  font-size: 2vw;
  color:red;
  list-style: none;
  text-align: center;
}

main div#statsScreen ul#life li{
  display: inline-block;
  padding-right: 2vw;
  vertical-align: middle;
  padding:0
}

main div#mainScreen ul#specialAttack{
  display: inline-block;
  list-style-type: none;
  padding-right: 2vw;
  vertical-align: middle;
  padding:0;
}

main div#mainScreen ul#special li{
  display: inline-block;
  list-style-type: none;
  padding-right: 1vw;
  vertical-align: middle;
  padding:0;
}

main div#statsScreen ul#specialAttack li img{
  height:2vw;
  width:2vw;
}

main div.player{
  width:5vw;
  height:5vw;
  border:1px solid red;
  position:absolute;
  top:50%;
  left:0%;
  background-image: url('../images/chrono.gif');
  background-size: contain;
}

main div.playerSpecialAttack{
  border:1px solid red;
  position:absolute;
  top:50%;
  float:left;
  background-image: url('../images/CronoLuminaire.gif');
  background-size: contain;
}

main div.playerCollided{
  border:1px solid red;
  position:absolute;
  top:50%;
  float:left;
  background-image: url('../images/chronoHit.png');
  background-size: contain;
}

main div.boss{
  width:3vw;
  height:3vw;
  border:1px solid green;
  position:absolute;
  top:50%;
  left:60%;
  background-image: url('../images/boss3.gif');
  background-size: contain;
}

main div.ultraBoss{
  width:20vw;
  height:20vw;
  border:1px solid green;
  position:absolute;
  top:20%;
  left:60%;
  background-image: url('../images/ultraBoss.gif');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}


main div#portal{
  border:1px solid red;
  background-image: url('../images/portal.gif');
  background-size:contain;
  background-repeat: no-repeat;
  position:absolute;
  top:0%;
  left:60%;
  // width:6vw;
  height:15vw;
}

main div#dragon{
  //border:1px solid red;
  background-image: url('../images/Dragon_tank.gif');
  background-size:contain;
  background-repeat: no-repeat;
  position:absolute;
  top:78%;
  float:left;
  width:12vw;
  height:12vw;
}

main div ul#special{
  color:#FF6700 ;
  font-size: 1vw;
  padding:0;
}

main div#pauseScreen h1{
  text-align: center;
  font-size: 6vw;
  margin-top:50%;
}

div.menu{
  margin:0 auto;
  text-align: center;
}

p.points{
  font-size:1vw;
}

.mirror{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
.hidden{
  visibility: hidden;
  display: none;
}

.key{
  color:orange;
}
