@font-face {
  font-family: 'Fipps';
  src: url('../fonts/fipps-regular-webfont.woff2') format('woff2'),
    url('../fonts/fipps-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Fipps, sans-serif;
}

body {
  background: black;
  width: 50%;
  margin: 0 auto;
  border: 1vw dashed gold;
}


img {
  max-width: 100%;
  max-height: 100%;
}

p {
  color: white;
}

.game-screen {
  position: relative;
  padding: 0.5%;
  margin: 0.5%;
  color: white;
}

.main-screen {
  position: relative;
  height: 40vw;
  background-image: url('../images/bg2.jpg');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-screen-boss {
  position: relative;
  height: 40vw;
  background-image: url('../images/bg1.jpg');
  background-position: 40%;
  background-size: contain;
  background-repeat: no-repeat;
}


.pause-screen {
  position: relative;
  height: 40vw;
  background-image: url('../images/bg2.jpg');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

}

#instructions-screen {
  position: relative;
  height: 40vw;
  font-size: 1vw;
}


.game-actions {
  position: relative;
  height: 7vw;
  border-top: 1vw dashed gold;
}

.game-over {
  text-align: center;
  position: relative;
  height: auto;
  border-top: 1vw dashed gold;
}

ul.lifes {
  font-size: 2vw;
  color: red;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    padding-right: 2vw;
    vertical-align: middle;
    padding: 0;

  }
}


.special-attack-list {
  display: inline-block;
  list-style-type: none;
  padding-right: 2vw;
  vertical-align: middle;
  padding: 0;

  li {
    display: inline-block;
    padding-right: 1vw;
    vertical-align: middle;
    padding: 0;
  }
}


.special-attack li img {
  height: 2vw;
  width: 2vw;
}

.player {
  width: 5vw;
  height: 5vw;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 0%;
  background-image: url('../images/chrono.gif');
  background-size: contain;
}

.player-special-attack {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  float: left;
  background-image: url('../images/CronoLuminaire.gif');
  background-size: contain;
}

.player-collided {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  float: left;
  background-image: url('../images/chronoHit.png');
  background-size: contain;
}

.boss {
  width: 3vw;
  height: 3vw;
  border: 1px solid green;
  position: absolute;
  top: 50%;
  left: 60%;
  background-image: url('../images/boss3.gif');
  background-size: contain;
}

.boss-game-over {
  width: 20vw;
  height: 20vw;
  border: 1px solid green;
  position: absolute;
  top: 20%;
  left: 60%;
  background-image: url('../images/nRq.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.ultra-boss {
  width: 20vw;
  height: 20vw;
  border: 1px solid green;
  position: absolute;
  top: 20%;
  left: 60%;
  background-image: url('../images/scratch-cat-claws.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}


.portal {
  border: 1px solid red;
  background-image: url('../images/portal.gif');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 60%;
  height: 15vw;
}


.special {
  color: #FF6700;
  font-size: 1vw;
  padding: 0;
}

.pause-screen h1 {
  text-align: center;
  font-size: 4vw;
}

.pause-screen h2 {
  text-align: center;
  font-size: 6vw;
  margin-top: 30%;
}

.menu {
  margin: 0 auto;
  text-align: center;
}

.points {
  font-size: 1vw;
}

.mirror {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.hidden {
  visibility: hidden;
  display: none;
}

.key {
  color: orange;
}

.small-image {
  width: 2vw;
  height: 2vw;
}